Package: kfzcheck
Version: 2.0
Section: user/utilities
Priority: optional
Architecure: all
Essential: no
Depends: python2.5
Maintainer: Patrick Beck <pbeck@yourse.de>
Description: KFZcheck searches for car (in german KFZ) license plates shortcuts.\nIt can search for a shortcut and a city / region - german example: S for Stuttgart. 
A german, austrian, swiss and poland list is included
